@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0b1c2d, #142b45);
    color: #f5f2e7;
}

/* Hidden */
.hidden {
    display: none;
}

/* Center Login */
.center-box {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: #142b45;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #c9a227;
}

.center-box h2 {
    font-family: 'Playfair Display', serif;
    color: #c9a227;
    margin-bottom: 10px;
}

.center-box input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
}

.center-box button {
    width: 100%;
    padding: 10px;
    background: #c9a227;
    color: #0b1c2d;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(11,28,45,0.9);
}

.logo {
    font-family: 'Playfair Display', serif;
    color: #c9a227;
    font-size: 20px;
}

.navbar button {
    padding: 8px 15px;
    background: #c9a227;
    border: none;
    cursor: pointer;
}

/* Container */
.container {
    padding: 60px 50px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    color: #c9a227;
}

/* Category */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.category-card {
    background: #142b45;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #c9a227;
    cursor: pointer;
    transition: 0.4s;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #c9a227;
}

/* Books */
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.book-card {
    background: #142b45;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #c9a227;
    transition: 0.4s;
}

.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #c9a227;
}

.book-card h3 {
    color: #c9a227;
    margin-bottom: 15px;
}

.book-card button {
    padding: 8px 12px;
    background: #c9a227;
    border: none;
    cursor: pointer;
}
